<div class="jumbotron">
    <div class="container">
        <h1>Music!</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <form ng-submit="searchSubmit()">
            <input type="text" legnth="20" id="searchText" ng-model="searchText" placeholder="Search" />
            <input type="submit" id="searchButton" value="Search" />
        </form>
    </div>
    <div rattle-artists></div>
    <div rattle-albums></div>
    <div rattle-tracks></div>
    <h1 ng-show="(!searchResults.artist_hits && !searchResults.album_hits && !searchResults.song_hits)">No results found</h1>
</div>
<div class="player">
    <div class="playerControls">
        <input type="button" value="Stop" ng-click="stopPlaying()" />
        <div class="playButton" ng-click="togglePlayback()"></div>
    </div>
</div>