.trackTitle {
    cursor:pointer;
    margin-left:40px;
    display:block;
}

.artistArtwork, .albumArtwork{
    display:block;
}

.trackListing, .albumListing, .artistListing{
    margin-bottom:30px;
}

.artistArtwork{
    width:330px;
    height:165px;
}

.albumArtwork{
    width:160px;
    height:160px;
}

.trackArtwork{
    width:40px;
    height:40px;
    float:left;
}

.player{
    position:fixed;
    bottom:0px;
    height:100px;
    width:100%;
    background-color:grey;
}

.playerControls{
    margin-left:auto;
    margin-right:auto;
    width:50px;
}

.playButton{
    background-image: url("/static/images/playButton.svg");
    cursor:pointer;
    background-repeat:no-repeat;
}

.playerControls .playButton{
    background-size: 150px 90px;
    width:150px;
    height:90px;
}